.app-context {
  background: white;
  border-radius: 5px;
  border: 1px solid orangered;
}

.app-context__title {
  color: orangered;
}

.app-context--detect-changes {
  background: blanchedalmondred;
}

.app-context--no-detect-changes {
  animation: backgroundAnimation 3s;
}

@keyframes backgroundAnimation {
  from {
    background: blanchedalmond;
  }
  to {
    background: white;
  }
}

.app-context__title {
  font-size: 0.7rem;
}

.app-context__content {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
